.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: flex;
  border: 2px solid red; }

.col-12 {
  width: 100%;
  border: 2px solid green; }

.col-6 {
  width: 50%;
  border: 2px solid pink; }

.col-4 {
  width: 33.33%;
  border: 2px solid orange; }

.col-3 {
  width: 66.66%;
  border: 2px solid orange; }
